<!doctype html>
<html lang="es">

<head>
  <title> Sobre nosotros - RideMyBike </title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="icon" type="image/png" href="img/RideMyBike_icon_green.png">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="css/bootstrap.css">
  <link rel="stylesheet" href="css/carousel.css">
</head>

<body>
  <div class="container-fluid" style="background-color:#85c1e9">
    <!---Cabecera -->
    <div class="row p-3 align-items-center">
      <div class="col-2">
        <img style="height:auto;max-width:125%" src="img/RideMyBike_icon_green.png" />
      </div>
      <div class="col-6">
        <h5 class="text-white"><b>RideMyBike</b>, la página de préstamo de bicicletas que lucha por un aire
          más puro en nuestras ciudades</h5>
      </div>
      <div class="col-4">
        <div>
          <button type="button" onclick="location.href='registrarse.html'" class="btn btn-light">Registrarse</button>
          <button type="button" onclick="location.href='iniciar_sesion.html'" class="btn btn-success">Iniciar sesión</button>
        </div>

      </div>
    </div>
    <nav class="navbar navbar-expand-lg navbar-dark">
      <!-- Menu de navegacion -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle	navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="index.html">Home 🏠</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="mis_bicis.html">Mis Bicis 🚴‍</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="viajes.html">Viajes 🚵‍</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="garantias.html">Garantías 🛡️</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="sobre_nosotros.html">Sobre nosotros 💬<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="ayuda.html">Ayuda ❓</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>

  <!-- Contenido -->
  <main role="main">
    <div class="container marketing">

      <div class="row featurette mt-5">
        <div class="col-md-7">
          <h2 class="featurette-heading">Cuidando el planeta. <span class="text-muted">Por un aire más limpio.</span></h2>
          <p class="lead">Queremos un mundo más limpio y sano, concienciados con el medio ambiente y haciendo frente al cambio clímatico, luchamos por un aire más limpio en nuestras ciudades.</p>
        </div>
        <div class="col-md-5">
          {% include icons/placeholder.svg width="500" height="500" background="#eee" color="#aaa" class="bd-placeholder-img-lg featurette-image img-fluid mx-auto" %}
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7 order-md-2">
          <h2 class="featurette-heading">Apasionados por el deporte. <span class="text-muted">Siempre adelante.</span></h2>
          <p class="lead">Porque el paso que no das seguro es el que sale mal. Queremos que todo el mundo tenga la oportunidad de hacer deporte un rato al día. Una rutina sana es una vida sana.</p>
        </div>
        <div class="col-md-5 order-md-1">
          {% include icons/placeholder.svg width="500" height="500" background="#eee" color="#aaa" class="bd-placeholder-img-lg featurette-image img-fluid mx-auto" %}
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Siempre disponibles. <span class="text-muted">Contáctanos.</span></h2>
          <p class="lead">Tratando de brindar el mejor sevicio posible a nuestros usuarios, siempre dispuestos a ayudar. No dudes en contactarnos.</p>
        </div>
        <div class="col-md-5">
          {% include icons/placeholder.svg width="500" height="500" background="#eee" color="#aaa" class="bd-placeholder-img-lg featurette-image img-fluid mx-auto" %}
        </div>
      </div>

      <hr class="featurette-divider">

    </div><!-- /.container -->


    <!-- FOOTER -->
    <footer class="container">
      <p class="float-right"><a href="#">Volver arriba</a></p>
      <p>&copy; 2020 &middot; RideMyBike &middot;</p>
    </footer>
  </main>
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="js/bootstrap.js"></script>
</body>

</html>
